//初始化样式
//初始化样式 start
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0};
body,button,input,select,textarea{font:12px arial,"微软雅黑"};
h1,h2,h3,h4,h5,h6{font-size:100%};
em,i,u{font-style:normal};
ol,ul,li{list-style:none};
a{text-decoration:none};
img{border:none;vertical-align:middle};
button,input,select,textarea{font-size:100%};
table{border-collapse:collapse;border-spacing:0};
//清除浮动
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden};
.clearfix,.wbox{*zoom:1}



