/*
Error: Invalid GBK character "\xE5"
        on line 5 of index.scss

1: body {
2:   height: 3000px;
3:   overflow-x: hidden;
4: }
5: //-----------------头部样式---------------
6: .header {
7:     height: 80px;
8:     width: 100%;
9:     //background: skyblue;
10:     .container {

Backtrace:
index.scss:5
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:1043:in `rescue in block in find_encoding_error'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:1040:in `block in find_encoding_error'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each_with_index'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `find_encoding_error'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/util.rb:767:in `check_sass_encoding'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/engine.rb:444:in `check_encoding!'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/engine.rb:400:in `_to_tree'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.5.5/bin/scss:13:in `<top (required)>'
D:/Ruby21-x64/bin/scss:23:in `load'
D:/Ruby21-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 5 of index.scss\A \A 1: body {\A 2:   height: 3000px;\A 3:   overflow-x: hidden;\A 4: }\A 5: //-----------------头部样式---------------\A 6: .header {\A 7:     height: 80px;\A 8:     width: 100%;\A 9:     //background: skyblue;\A 10:     .container {"; }
